body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#initialLoad {
  #name {
    margin-left: 10px;
  }
}

#playerBoard {
  div#guessLabel {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px
  }
  img {
    margin-bottom: 15px;
  }
  input#playerGuess {
    width: 325px;
    margin-left: 5px;
  }
  input#guessBtn {
    vertical-align: top;
  }
  div#timeLeftMessage {
    font-size: 20px;
    color: red;
  }
}
