<div id="initialLoad" class="hero-unit">
  <div id="heroRow" class="row">
    <div id="heroLeft" class="pull-left">
      <h1>NUCLEAR WESSELS</h1>
      <p>...a social game, searching in Alameda and beyond.</p>
      <form id="nameForm" class="form-inline">
        <div>
          <label for="name" class="control-label">Enter your name and email to get started:</label>
        </div>
        <span class="control-group">
          <input id="name" name="name" type="name" class="input-small" placeholder="Name">
        </span>
        <span class="control-group">
          <input id="email" name="email" type="name" class="input" placeholder="Email address">
          <button type="submit" class="btn">Let's go!</button>
        </span>
      </form>
    </div>
    <div id="heroRight">
      <img id="checkov" src="/assets/checkov.jpg" class="img-polaroid"/>
      <p id="checkovCaption"><small>That's what I said -- Alameda.</small></p>
    </div>
  </div>
</div>
