<div id="initialLoad" class="hero-unit">
  <h1>Welcome to BALLCRUSHER</h1>
  <p>This is a game of skill where the winners get hot sex and the losers die terrible deaths. Ante up!</p>
  <form id="nameForm" class="form-inline">
    <label for="name" class="control-label">Enter your name to get started:</label>
    <input id="name" name="name" type="name" class="input" placeholder="English motherfucker, do you speak it??">
    <button type="submit" class="btn">Let's go!</button>
  </form>
</div>
