<div id="judgeBoard">
  <div id="guess" class="span6">
    <div id="boardHeader">
      <div class="boardSubheader">
          What google search generated this picture?
      </div>
    </div>
    <img id="searchImage" src="{{image_url}}" />
    <div id="timeLeftMessage">Time Left to Answer: <span id="timeLeftSeconds">15</span> Seconds</div>
  </div>
  <div id="players" class="span4">
    <h4>Pick the Best Answer</h4>
    <div class="well player-well">
      <form id="judgeAnswers">
        <div class="control-group">
          <div id="answers" />
          <input id="btnPickAnswer" type="submit" class="btn btn-primary" value="Choose Answer" disabled />
        </div>
      </form>
    </div>
  </div>
</div>
