<div id="playerBoard">
	<div id="boardHeader">
    <h3 id="guessLabel">
        What google search generated this picture?
    </h3>
	</div>
  <div id="guess" class="span6">
    <img id="searchImage" src="{{image_url}}" />
    <div id="guessArea"/>
    <div id="timeLeftMessage">Time Left to Answer: 3 <span id="timeLeftSeconds"></span> Seconds</div>
  </div>
  <div id="players" class="span6">
  </div>
</div>
