<div id="playerBoard">
  <div id="guess" class="span6">
    <div id="guessLabel">
        What google search generated this picture?
    </div>
    <img id="searchImage" src="/assets/tempGuessImage.JPG" />
    <div id="guessForm" class="inline-form">
      <input id="playerGuess" type="text" placeholder="Enter your guess" class="input-small"/>
      <input id="guessBtn" type="submit" class="btn btn-primary" value="Send Answer"/>
    </div>
    <div id="timeLeftMessage">Time Left to Answer: 3 <span id="timeLeftSeconds"></span> Seconds</div>
  </div>
  <div id="players" class="span6">
  </div>
</div>