<form id="guessForm" class="form-inline">
	<span class="control-group">
		<input id="guess" name="guess" type="text" placeholder="Enter your guess" class="input"/>
	</span>
	<input id="guessBtn" type="submit" class="btn btn-primary" value="Send Answer"/>
</form>
